* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    z-index: -1;
    background: linear-gradient(0deg, #08AEEA 14%, #ffffff 100%);
    background-repeat: no-repeat;
}

.blocApp {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blocTitle {
    height: 7%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: grey;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 10px grey;
}

form {
    margin-top: 6%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 1px 1px 5px grey;
}

button {
    height: 40px;
    width: 25%;
    background-color: #08AEEA;
    border: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 5px grey;
} 

.blocMeteo {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.meteoInfo {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.meteoInfo h2 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: grey
}

.meteoInfo i {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
}

.meteoInfo p {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: grey;
    text-align: center;
}


.blocInfo {
    width: 65%;
    height: 35%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.precisionsMeteo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.humidity, .wind {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.humidity i, .wind i {
    height: 70%;
    display: flex;
    align-items: center;
    font-size: 70px;
    padding-top: 10px;
}

.humidity p, .wind p {
    height: 30%;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: grey;
    padding-bottom: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.footer {
    margin-top: 2%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.identite {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.identite p {
    height: 40%;
    font-size: 25px;
    font-weight: 600;
}

span {
    height: 40%;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}


.links {
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: end; 
}

.links i {
    font-size: 35px;
}

@media screen and (min-width: 444px) and (max-width: 567px) {
    .blocTitle {
        height: 8.5%;
    }

    form {
        margin-top: 5%;
    }

    .blocInfo {
        background-color: transparent;
    }

    .precisionsMeteo {
        justify-content: space-between;
    }

    .humidity, .wind {
        width: 40%;
        background-color: #ffffff;
        border-radius: 20px;
    }
}

@media screen and (min-width: 568px) and (max-width: 767px) {
    .blocTitle {
        height: 9%;
    }

    form {
        margin-top: 4%;
        height: 50px;
    }

    .blocInfo {
        background-color: transparent;
    }

    .precisionsMeteo {
        justify-content: space-between;
    }

    .humidity, .wind {
        width: 40%;
        background-color: #ffffff;
        border-radius: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .blocTitle {
        height: 10%;
    }

    form {
        margin-top: 2%;
        height: 60px;
    }

    .blocInfo {
        background-color: transparent;
    }

    .precisionsMeteo {
        justify-content: space-between;
    }

    .humidity, .wind {
        width: 35%;
        background-color: #ffffff;
        border-radius: 20px;
    }

    .links {
        margin-left:  20%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .blocTitle {
        height: 10%;
    }

    form {
        margin-top: 1%;
        height: 70px;
    }

    input {
        width: 30%;
    }

    button {
        width: 15%;
    }

    .blocInfo {
        margin-top: 1%;
        background-color: transparent;
        width: 45%;
    }

    .footer {
        margin-top: 1%;
    }

    .precisionsMeteo {
        justify-content: space-between;
    }

    .humidity, .wind {
        width: 40%;
        background-color: #ffffff;
        border-radius: 20px;
    }

    .links {
        margin-left:  25%;
        margin-right: 25%;
    }

    .identite p, span {
        font-size: 30px;
        height: 50%;
    }
}